<h1>Friends Index</h1>

<h2>There are {{model.length}} friends.</h2>

<ul>
  {{#each model as |friend|}}
    <li>
      {{#link-to 'friends.show' friend}}
        {{friend.firstName}} {{friend.lastName}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
