<h1>Friends Index</h1>

<h2>There are {{model.length}} friends.</h2>

{{link-to 'Add New' 'friends.new'}}

<ul>
  {{#each model as |friend|}}
    <li>
      {{link-to friend.fullName 'friends.show' friend}}
      [<a href="#" {{action "delete" friend}}>X</a>]
    </li>
  {{/each}}
</ul>
